.DS_Store
*.db
*.csv
*.pyc
/venv
/app/__pycache__
__pycache__/
parse.log
/app/static/2009-10
/app/static/2010-11
/app/static/2011-12
/app/static/2012-13
/app/static/2013-14
/app/static/2014-15
/app/static/2015-16
/app/static/2016-17
/app/static/2017-18
/app/static/2018-19