{% extends "base.html" %}

    {% block content %}
        <p><div><a href="{{url_for('index')}}"><<-New Search</a> </div></p>
                    <h4>Parameters:</h4>
            <p>{{"Search Term(s): "+form.search_term.data if form.search_term.data != '-1'}}</p>
            <p>{{"School Year: "+form.year.data if form.year.data != 'None'}}</p>
            <p>{{"Community Board: "+form.community_board.data if form.community_board.data != '-1'}}</p>
            <p>{{"School District: "+form.school_district.data if form.school_district.data != '-1'}}</p>
            <p>{{"School: "+form.school.data if form.school.data != '-1'}}</p>
        {% if texts %}

            <h4>Stats</h4>
            <ul>
                <p>Number of Schools using Term(s) vs Total Number of School Plans</p>
                {% for key, value in stats.items() %}
                    <li>{{ key }}: {{ value['matched_schools']}} in {{value['total_schools'] }} - {{value['percent']}}%</li>
                {% endfor %}
            </ul>
           <h4>Top 50 Search Results:</h4>
            <ul>
            
            {% for text in texts %}
                <li><a href="https://www.nycenet.edu/documents/oaosi/cep/{{text.plan.year}}/cep_{{text.plan.school.bn}}.pdf#page={{text.page_number}}">{{text.plan.year}}-{{text.plan.school.school_name}}, Page:{{text.page_number}}</a></li>
            {% endfor %}
            </ul>
            
        {% else %}
        <h4>All Plans for :</h4>
            {% for plan in plans %}
                <li><a href="/static/{{plan.year}}/{{plan.school.bn}}.pdf">{{plan.year}}-{{plan.school.school_name}}</a></li>
            {% endfor %}
            <br>
        {% endif %}
        <p><div><a href="{{url_for('index')}}"><<-New Search</a> </div></p>
    {% endblock %}